<h1>Title: {{title}}</h1>

<h2>Author: {{author.username}}</h2>

<p>{{description}}</p>

{{#each comments}}
  <p>Author: {{user.username}}</p>
  <p>{{comment}}</p>
{{/each}}

{{!-- 
Se ejecuta la ruta localhost:3000/comment con el método POST

Se ejecuta el router que se encuentra en el archivo routes/commnet.routes.js:

router.post('/', (req, res, next) => {
  const { user, comment, post } = req.body;
  CommentModel.create({ user, comment, post })
    .then((newComment) => {
      return PostModel.updateOne(
        { _id: post },
        { $push: { comments: newComment._id } }
      );
    })
    .then(() => {
      res.redirect(`/post/${post}`);
    })
    .catch((err) => next(err));
});

 --}}
<form action="/comment/" method="post">

  <label for="">comment</label>
  <input type="text" name="comment" id="">

  <input type="text" name="post" value="{{_id}}">
  <input type="text" name="user" >

  <button type="submit">New Comment</button>
</form>